---
services:
  nginx-proxy:
    image: nginxproxy/nginx-proxy:alpine
    container_name: 'nginx_proxy_maks-koits-site'
    volumes:
      - /app/config/html:/usr/share/nginx/html
      - /app/config/dhparam:/etc/nginx/dhparam
      - /app/config/vhost:/etc/nginx/vhost.d
      - /app/config/certs:/etc/nginx/certs
      - /app/config/conf:/etc/nginx/conf.d
      - /var/run/docker.sock:/tmp/docker.sock:ro
      - /etc/localtime:/etc/localtime:ro
      - /var/log/nginx:/var/log/nginx
    restart: always
    networks:
      - net
    ports:
      - 80:80
      - 443:443
#      - 9001:9001
#      - 9100:9100
#      - 9443:9443

#  cadvisor:
#    image: gcr.io/cadvisor/cadvisor:latest
#    container_name: 'cadvisor'
#    restart: always
#    volumes:
#      - /etc/localtime:/etc/localtime:ro
#      - /etc/timezone:/etc/timezone:ro
#      - /:/rootfs:ro
#      - /var/run:/var/run:rw
#      - /sys:/sys:ro
#      - /var/lib/docker:/var/lib/docker:ro
#    devices:
#      - /dev/kmsg:/dev/kmsg
#    environment:
#      TZ: 'Europe/Minsk'
#      VIRTUAL_HOST: 'cadvisor.maks-koits.site'
#      VIRTUAL_PORT: '8080'
#      LETSENCRYPT_HOST: 'cadvisor.maks-koits.site'
#      LETSENCRYPT_EMAIL: 'mix256@gmail.com'
#    networks:
#      - net

  acme:
    image: nginxproxy/acme-companion:latest
    container_name: 'nginx_proxy_acme_maks-koits-site'
    depends_on:
      - nginx-proxy
    volumes:
      - /app/config/html:/usr/share/nginx/html
      - /app/config/dhparam:/etc/nginx/dhparam
      - /app/config/vhost:/etc/nginx/vhost.d
      - /app/config/certs:/etc/nginx/certs
      - /app/config/conf:/etc/nginx/conf.d
      - /var/run/docker.sock:/tmp/docker.sock:ro
      - /etc/localtime:/etc/localtime:ro

      - /app/config/acme:/etc/acme.sh
      - /var/run/docker.sock:/var/run/docker.sock:ro
    environment:
      NGINX_PROXY_CONTAINER: 'nginx_proxy_maks-koits-site'
      DEFAULT_EMAIL: 'mix256@gmail.com'
    restart: always
    networks:
      - net

  maks-koits-github-io-cv.maks-koit:
    image: nginx:stable-alpine
    container_name: maks-koits-site-cv
    depends_on:
      - nginx-proxy
    volumes:
      - /app/Maks-Koits.github.io:/usr/share/nginx/html:ro
      - /etc/localtime:/etc/localtime:ro
      - /app/Koit.VPS/config_nginx/default.conf:/etc/nginx/conf.d/default.conf:ro
    environment:
      VIRTUAL_HOST: maks-koits.site,cv.maks-koits.site
      LETSENCRYPT_HOST: maks-koits.site,cv.maks-koits.site
      VIRTUAL_PORT: 80
    restart: unless-stopped
    networks:
      - net

#  cv.maks-koits.site:
#    image: nginx:stable-alpine
#    container_name: 'cv_maks-koits-site'
#    depends_on:
#      - nginx-proxy
#    volumes:
#      - /app/Koit.VPS/cv_config_nginx/default.conf:/etc/nginx/conf.d/default.conf
#      - /app/Maks-Koits.github.io:/usr/share/nginx/html
##if file      - /dev/null:/usr/share/nginx/html/.git
##      - /usr/share/nginx/html/.git
#      - /etc/localtime:/etc/localtime:ro
##      - /var/log/nginx_cv:/var/log/nginx_cv
#    environment:
##      TZ: 'Europe/Minsk'
#      VIRTUAL_HOST: 'cv.maks-koits.site'
#      LETSENCRYPT_HOST: 'cv.maks-koits.site'
#    restart: unless-stopped
#    networks:
#      - net

  salary.maks-koits.site:
    image: nginx:stable-alpine
    container_name: 'salary_maks-koits-site'
    depends_on:
      - nginx-proxy
    volumes:
      - /app/Koit.VPS/salary_calc/default.conf:/etc/nginx/conf.d/default.conf
      - /app/Koit.VPS/salary_calc:/usr/share/nginx/html
#if file      - /dev/null:/usr/share/nginx/html/.git
#      - /usr/share/nginx/html/.git
      - /etc/localtime:/etc/localtime:ro
#      - /var/log/nginx_cv:/var/log/nginx_cv
    environment:
#      TZ: 'Europe/Minsk'
      VIRTUAL_HOST: 'salary.maks-koits.site'
      LETSENCRYPT_HOST: 'salary.maks-koits.site'
    restart: unless-stopped
    networks:
      - net

  portainer:
    image: portainer/portainer-ce:linux-amd64
    container_name: 'portainer_maks-koits-site'
    depends_on:
      - nginx-proxy
    volumes:
      - /app/portainer_data:/data
      - /var/run/docker.sock:/var/run/docker.sock
      - /etc/localtime:/etc/localtime:ro
    environment:
      VIRTUAL_HOST: 'portainer.maks-koits.site'
      VIRTUAL_PORT: '9000'
      LETSENCRYPT_HOST: 'portainer.maks-koits.site'
      LETSENCRYPT_EMAIL: 'mix256@gmail.com'
    restart: unless-stopped
    networks:
      - net

#  agent:
#    image: portainer/agent:linux-amd64
#    container_name: 'agent_portainer_maks-koits.site'
#    volumes:
#      - /var/run/docker.sock:/var/run/docker.sock
#      - /var/lib/docker/volumes:/var/lib/docker/volumes
#      - /:/host
#    restart: unless-stopped
#    ports:
#      - 9001:9001
#    networks:
#      - net

#  node_exporter:
#    image: prom/node-exporter:latest
#    container_name: 'node_exporter_maks-koits-site'
#    depends_on:
#      - nginx-proxy
#    volumes:
#      - /proc:/host/proc:ro
#      - /sys:/host/sys:ro
#      - /:/rootfs:ro
#      - /var/run/docker.sock:/var/run/docker.sock:ro
#      - /etc/localtime:/etc/localtime:ro
#    command:
#      - --path.procfs=/host/proc
#      - --path.rootfs=/rootfs
#      - --path.sysfs=/host/sys
#      - --collector.filesystem.mount-points-exclude=^/(sys|proc|dev|host|etc)($$|/)
#    environment:
#      VIRTUAL_HOST: 'node-exporter.maks-koits.site'
#      VIRTUAL_PORT: '9100'
#      LETSENCRYPT_HOST: 'node-exporter.maks-koits.site'
#      LETSENCRYPT_EMAIL: 'mix256@gmail.com'
#    restart: unless-stopped
#    networks:
#      - net

#  openvscode-server:
#    image: gitpod/openvscode-server:latest
#    container_name: 'openvscode_maks-koits-site'
#    environment:
#      VIRTUAL_HOST: 'openvscode.maks-koits.site'
#      VIRTUAL_PORT: '3000'
#      LETSENCRYPT_HOST: 'openvscode.maks-koits.site'
#      LETSENCRYPT_EMAIL: 'mix256@gmail.com'
#    volumes:
#      - /var/run/docker.sock:/var/run/docker.sock
#      - /app:/app
#      - /root/vscode:/home/workspace:cached
##      - /path/to/appdata/config:/config
#    restart: unless-stopped
#    networks:
#      - net

networks:
  net:
    name: net
    driver: bridge